.photoContainer.js-photoContainer
  - var n = 0;

  while n < 12
    .photoContainer__slide
      picture
        source(
          media="(min-width: 1601px)",
          srcset="./imgs/photoContainer/1905/photo" + (n) + ".jpg"
        )
        source(
          media="(min-width: 1001px)",
          srcset="./imgs/photoContainer/1600/photo" + (n) + ".jpg"
        )
        source(
          media="(max-width: 1000px)",
          srcset="./imgs/photoContainer/1000/photo" + (n) + ".jpg"
        )
        img.photoContainer__image(src="./imgs/photoContainer/1905/photo" + (n) + ".jpg", alt="")
      - n++;
